# Arquivos de Build.
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# Variáveis de Ambiente (Apenas o .env.example).
.env
.env.*
!.env.example 

# ===== resultados de test runner =====
TestResults/
*.trx
*.coverage
*.coveragexml

# ===== code coverage =====
coverage-report/
coverage.cobertura.xml
**/coverage.cobertura.xml
*.lcov
*.opencover.xml



# Frontend
node_modules/
**/node_modules/
.next/
**/.next/
.next.cache/
dist/
build/

# Editor / sistema
.vscode/
.DS_Store
**.DS_Store

# Docker
**/docker-data/