POSTGRES_DB=orders
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
ASB_CONNECTION_STRING=UseDevelopmentStorage=true
ASB_QUEUE_NAME=orders-queue
API_PORT=8080
WORKER_DELAY_SECONDS=5
ASB_CONNECTION=Endpoint=sb://<SEU-NAMESPACE>.servicebus.windows.net/;SharedAccessKeyName=<SAS-NAME>;SharedAccessKey=<SAS-KEY>
ASB_ENTITY=orders
ORDER_HUB_URL=http://orders-api:8080/hub/notification